body {
    background-color: rgb(245, 45, 168);
  }
h1 {
  font-family: 'Rubik Puddles', cursive;
    font-size: 500%;
    color: #ffffff;
  }
h2 {
    font-family: 'Volkhov', serif;
    font-size: 200%;
}